.destaques {
    display: grid;
    grid-gap: .2rem;;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    height: calc(100vh - 50px);
}
.destaques__titulo {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    color: #ffff;
    padding: 1em;
    text-align: center;
}
.destaques__principal {
    background-image: url("../img/fortnite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 1/3;
}
.destaques__secundario:nth-child(2) {
    background-image: url("../img/pubg.jpg");
    background-size: cover;
    grid-row: 1/2;
}

.destaques__secundario:nth-child(3) {
    background-image: url("../img/slack.png");
    background-size: cover;
    grid-row: 2/3;
}

.destaques__secundario:nth-child(4) {
    background-image: url("../img/whatsapp.png");
    background-size: cover;
    grid-row: 3/3;
}
.destaques__secundario:nth-child(5) {
    background-image: url("../img/cs-go.jpg");
    background-size: cover;
    grid-row: 3/3;
}
.destaques__categorias {
    grid-column: 1/3;
    grid-row: 3/3;
}
.caixa {
    display: flex;
    align-items: flex-end;
}
.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}
.destaques__categorias___item {
    color: #333333;
    display: flex;
    padding: 1rem;
    border-left: 5px solid transparent;
    background-color: #fdfdfd;
    align-items: center;
    height: 47%;
    width: 49%;

}
.destaques__categorias___link {
    color: inherit;
}

/***************************main************************/

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-between;
}

.populares {
    padding: 2rem 0;
}
.populares__card {
    display: grid;
    width: calc(20% - .5rem);
    grid-template-areas: 
     "card-imagem"
     "card-corpo";
    background-color: #fdfdfd;
    grid-template-columns: 100%;
    grid-template-rows: 175px auto;
}
.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}
.populares__card___corpo {
    grid-area: card-corpo;
    display: grid;
    grid-template-areas:  
     "card-cabecalho"
     "card-descricao";
    grid-template-rows: 50px auto;
    padding: .75rem;
    grid-row-gap: .5rem;
}
.populares__card___titulo {
    color: #333333;
    font-size: 1.5rem;
}
.populares__card___data {
    color: #999999;
    font-size: .9rem;
}
.populares__card___descricao {
    color: #333333;
    text-align: justify;
    margin: .5rem 0;
    line-height: 1.5;
}
.populares__cabecalho {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding: .5rem 0;
}
.populares__info {
    padding: 1rem 0;
}
.populares__titulo {
    font-weight: 500;
}
.populares__icone {
    margin-right: .5rem;
}
.populares__botao {
    border: transparent;
    background-color: transparent;
    color: #333333;
}

