.menu__lista {
    padding: 2rem 0;
}
.menu__item {
    display: inline-block;
}
.menu__link {
    display: inherit;
    padding: 0 1.5rem;
    text-align: center;
    color: #333333;
    font-size: 1.3rem;
}
.menu__link.ativo, .menu__link:hover {
    border-bottom: 2px solid blue;
}