@media screen and (min-width: 0) {

        .destaques__principal {
            grid-column: 1/5;
            grid-row: 1/3;
        }
        
        .destaques__secundario:nth-child(2) {
            display: none;
            grid-column: none;
            grid-row: none;
        }
        
        .destaques__secundario:nth-child(3) {
            display: none;
            grid-column: none;
            grid-row: none;
        }
        
        .destaques__secundario:nth-child(4) {
            display: none;
            grid-column: none;
            grid-row: none;
        }
        .destaques__secundario:nth-child(5) {
            display: none;
            grid-column: none;
            grid-row: none;
        }
        .destaques__categorias {
            grid-column: 1/5;
            grid-row: 3/3;
        }
        .populares__card {
            width: 100%;
            grid-template-rows: 175px auto;
            margin-bottom: 2rem;;
        }
}

@media screen and (min-width: 768px) {

    .destaques__principal {
        grid-column: 1/4;
        grid-row: 1/3;
        
    }

    .destaques__secundario:nth-child(2) {
        display: flex;
        grid-column: 4/4;
        grid-row: 1/2;
    }

    .destaques__secundario:nth-child(3) {
        display: flex;
        grid-column: 4/4;
        grid-row: 2/3;
    }

    .destaques__secundario:nth-child(4) {
        display: flex;
        grid-column: 4/4;
        grid-row: 3/3;
    }
    .destaques__secundario:nth-child(5) {
        display: flex;
        grid-column: 3/4;
        grid-row: 3/3;
    }
    .destaques__categorias {
        display: flex;
        grid-column: 1/3;
        grid-row: 3/3;
    }
    .populares__card {
        width: calc(50% - .5rem);
        grid-template-rows: 175px auto;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .populares__card {
        width: calc(33.33% - .5rem);
        grid-template-rows: 175px auto;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .populares__card {
        width: calc(20% - .5rem);
        grid-template-rows: 175px auto;
        margin-bottom: 0;
    }
}