.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.cabecalho {
    grid-area: cabecalho;
    padding: 0 2em;
}
.conteudo {
    grid-area: conteudo;        
    padding: 0 2em;
}
.rodape {
    grid-area: rodape;
}
